# .gitattributes

# configures git to always use LF (linux) based line endings
* text=auto eol=lf

# always use CRLF for windows specific files.
*.{cmd,[cC][mM][dD]} text eol=crlf
*.{bat,[bB][aA][tT]} text eol=crlf